@use"../tokens" as t;
.grid{
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: t.convertPXToRem(t.tokens(spacings,md));
}
@for $index from 1 through 12{
    .col-#{$index}{
        grid-column: span #{$index};
    }
}
@media(max-width:768px){
        @for $index from 1 through 12{
        .col-md-#{$index}{
            grid-column: span #{$index};
        }
    }
}
@media (max-width:500px) {
    [class^="col-"],
    [class*="col-"]{
         grid-column: span 12;            
    }
}